<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xycm.poc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />

    <!-- 拍照、文件上传 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">

        <!-- 默认启动页 -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.App"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.App" />

        <activity
            android:name=".ui.CallActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.CallActivity"
            android:turnScreenOn="true" />

        <activity
            android:name=".ui.InCallActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <activity
            android:name=".ui.IncomingCallActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <activity
            android:name=".ui.VideoCallActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <service
            android:name=".service.IncomingCallForegroundService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xycm.poc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>


</manifest>